<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Dziennik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="Description" contens="Dziennik szkolny"/>
    <meta name="Keywords" content="Dziennik, uczniowie, oceny"/>
    <meta name="Author" content="Jakub Sierżęga"/>
    <link rel="Stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<div id="header">
    <table>
        <tr>
            <td>
                <img src="/dziennik.jpg"></img>
            </td>
            <td>
                <h1>Dziennik szkolny</h1>
            </td>
        </tr>
    </table>
</div>
<div id="menu">
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/view/students">Uczniowie</a></li>
        <li><a href="/view/classes">Klasy</a></li>
        <li><a href="/view/teachers">Nauczyciele</a></li>
        <li><a href="/view/subjects">Przedmioty</a></li>
        <li><a href="/view/mark/form">oceny</a></li>
    </ul>
</div>
<div id="content">
    <h1> Dodawanie klasy </h1>
    <form action="#" th:action="${actionaddress}" th:object="${formData}" method="post">
        <p>Nazwa: <input type="text" th:field="*{name}"/></p>
        <p>Rok rozpoczęcia nauki:: <input type="text" th:field="*{year}"/></p>
        <input type="submit" name="dodaj"/>
    </form>
</div>
<div id="footer">
    <script src="footer.js"></script>
</div>
</body>
</html>