<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Dziennik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Description" contens="Dziennik szkolny" />
    <meta name="Keywords" content="Dziennik, uczniowie, oceny" />
    <meta name="Author" content="Jakub Sierżęga" />
    <link rel="Stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<div id="header">
    <table>
        <tr>
            <td>
                <img src="/dziennik.jpg"></img>
            </td>
            <td>
                <h1>Dziennik szkolny</h1>
            </td>
        </tr>
    </table>
</div>
<div id="menu">
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/view/students">Uczniowie</a></li>
        <li><a href="/view/classes">Klasy</a></li>
        <li><a href="/view/teachers">Nauczyciele</a></li>
        <li><a href="/view/subjects">Przedmioty</a></li>
        <li><a href="/view/mark/form">oceny</a></li>
    </ul>
</div>
<div id="content">
    <h1 th:text="${subject.name}"></h1>
    <a th:href="'/view/subject/delete?id='+${subject.id}"> usuń przedmiot</a>
    <h2>Lista nauczycieli</h2>
    <ul>
        <li th:each="element : ${subject.teachers}"> <a th:href="'teacher?id='+${element.id}" th:text="${element.name} + ' ' + ${element.lastName}"></a></li>
    </ul>
    <a th:href="'/view/subject/addteacher?id=' + ${subject.id}" >Dodaj nauczyciela</a>
    <a th:href="'/view/subject/removeteacher?id=' + ${subject.id}" >Usuń nauczyciela</a>
    <h2>Lista klas</h2>
    <ul>
        <li th:each="element : ${classes}"> <a th:href="'class?id='+${element.id}" th:text="${element.name} + ' '"></a></li>
    </ul>
</div>
<div id="footer">
    <script src="footer.js"></script>
</div>
</body>
</html>