<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Dziennik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Description" contens="Dziennik szkolny" />
    <meta name="Keywords" content="Dziennik, uczniowie, oceny" />
    <meta name="Author" content="Jakub Sierżęga" />
    <link rel="Stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<div id="header">
    <table>
        <tr>
            <td>
                <img src="/dziennik.jpg"></img>
            </td>
            <td>
                <h1>Dziennik szkolny</h1>
            </td>
        </tr>
    </table>
</div>
<div id="menu">
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/view/students">Uczniowie</a></li>
        <li><a href="/view/teachers">Nauczyciele</a></li>
        <li><a href="/view/subjects">Przedmioty</a></li>
        <li><a href="/view/mark/form">oceny</a></li>
    </ul>
</div>
<div th:if="!${error}" id="content">
    <h1> Informacje o nauczycielu:</h1>
    <p th:inline="text"> Imię: <b th:text="${teacher.name}"></b></p>
    <p th:inline="text"> Nazwisko: <b th:text="${teacher.lastName}"></b></p>
    <p th:inline="text"> Adres: <b th:text="${teacher.address}"></b></p>
    <p th:inline="text"> Pesel: <b th:text="${teacher.pesel}"></b></p>
    <p th:inline="text"> Data urodzenia: <b th:text="${teacher.birthday}"></b></p>
    <p>Lista przedmiotów:</p>
    <ul>
        <li th:each="element : ${subjectlist}" th:text="${element.name}"></li>
    </ul>
    <a th:href="'teacher/delete?id='+${teacher.id}">Usuń nauczyciela</a>
    <a th:href="'teacher/edit?id='+${teacher.id}">edytuj nauczyciela</a>
</div>
<div th:if="${error}" id="content">
    <p th:text="${error}"></p>
</div>
<div id="footer">
    <script src="footer.js"></script>
</div>
</body>
</html>